PORT=8080

DATABASE_URL=postgres://user:password@db:5432/lifereview?sslmode=disable

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=lifereview

ADMIN_KEY=your_admin_key_here
ALLOWED_ORIGINS=http://allowedorigin.com